@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&family=Space+Grotesk:wght@400;500;600;700&display=swap');
@import url('./base.scss');
@import url('./primevue.scss');

@import "tailwindcss";

