.p-card {
    border: 1px solid #dedede;
    overflow: hidden;
}

.p-inputtext {
    height: 36px !important;
}

.p-select {
    height: 36px !important;
}

.p-card-body {
    padding: 0 1rem !important;
    gap: 0 !important;

}

.p-button{
    padding: .35rem .7rem !important;
    font-size: .875rem !important;
}

td {
    white-space: nowrap !important;
}

.p-chip {
    padding: .3rem 1rem !important;
}

.p-breadcrumb {
    padding: 0 !important;
    background-color: transparent !important;
}